body {
  margin: 0;
  padding: 0;
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.wrapper {
  width: 1024px;
  height: 600px;
  background-image: url(../img/balancing-bg.jpg);
  position: relative;
  margin: 0 auto;
  overflow: hidden; }

.clearfloat {
  clear: both; }

.section {
  display: none;
  width: 100%;
  height: 100%;
  position: relative; }
  .section.active {
    display: block; }
  .section.result {
    background-image: url(../img/result-bg.jpg); }
  .section.ready .readyTxt {
    width: 211px;
    height: 119px;
    position: absolute;
    background-image: url(../img/ready-txt.png);
    background-repeat: no-repeat;
    background-position: center center;
    top: 55px;
    left: 30px; }
  .section.ready .readyBottom {
    width: 609px;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    background-image: url(../img/ready-bg.png);
    background-position: center center;
    background-repeat: no-repeat; }
  .section.intro {
    position: relative;
    background-image: url(../img/balancing-intro-bg.png);
    background-repeat: no-repeat;
    background-position: center center; }
    .section.intro .scene_number, .section.intro .sceneWrapper {
      -webkit-transition: left 500ms ease-in-out;
      -moz-transition: left 500ms ease-in-out;
      -ms-transition: left 500ms ease-in-out;
      -o-transition: left 500ms ease-in-out;
      transition: left 500ms ease-in-out; }
    .section.intro .scene_number {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      text-align: center; }
      .section.intro .scene_number .number {
        display: inline-block;
        width: 45px;
        height: 72px;
        background-position: center bottom;
        background-repeat: no-repeat;
        margin-right: 40px; }
        .section.intro .scene_number .number:last-child {
          margin: 0; }
    .section.intro .sceneWrapper {
      width: 400%;
      position: absolute;
      top: 150px; }
      .section.intro .sceneWrapper .container {
        position: relative; }
      .section.intro .sceneWrapper .scene {
        float: left;
        width: 1024px;
        text-align: center; }
      .section.intro .sceneWrapper .scene_1, .section.intro .sceneWrapper .scene_2, .section.intro .sceneWrapper .scene_3, .section.intro .sceneWrapper .scene_4 {
        padding-top: 30px; }
    .section.intro.active_scene1 .scene_number .number.number_1 {
      background-image: url(../img/intro-number/number_1_active.png); }
    .section.intro.active_scene1 .scene_number .number.number_2 {
      background-image: url(../img/intro-number/number_2.png); }
    .section.intro.active_scene1 .scene_number .number.number_3 {
      background-image: url(../img/intro-number/number_3.png); }
    .section.intro.active_scene1 .scene_number .number.number_4 {
      background-image: url(../img/intro-number/number_4.png); }
    .section.intro.active_scene1 .scene_number {
      left: 120px; }
    .section.intro.active_scene1 .sceneWrapper {
      left: 0; }
    .section.intro.active_scene2 .scene_number .number.number_1 {
      background-image: url(../img/intro-number/number_1.png); }
    .section.intro.active_scene2 .scene_number .number.number_2 {
      background-image: url(../img/intro-number/number_2_active.png); }
    .section.intro.active_scene2 .scene_number .number.number_3 {
      background-image: url(../img/intro-number/number_3.png); }
    .section.intro.active_scene2 .scene_number .number.number_4 {
      background-image: url(../img/intro-number/number_4.png); }
    .section.intro.active_scene2 .scene_number {
      left: 60px; }
    .section.intro.active_scene2 .sceneWrapper {
      left: -1024px; }
    .section.intro.active_scene3 .scene_number .number.number_1 {
      background-image: url(../img/intro-number/number_1.png); }
    .section.intro.active_scene3 .scene_number .number.number_2 {
      background-image: url(../img/intro-number/number_2.png); }
    .section.intro.active_scene3 .scene_number .number.number_3 {
      background-image: url(../img/intro-number/number_3_active.png); }
    .section.intro.active_scene3 .scene_number .number.number_4 {
      background-image: url(../img/intro-number/number_4.png); }
    .section.intro.active_scene3 .scene_number {
      left: -30px; }
    .section.intro.active_scene3 .sceneWrapper {
      left: -2048px; }
    .section.intro.active_scene4 .scene_number .number.number_1 {
      background-image: url(../img/intro-number/number_1.png); }
    .section.intro.active_scene4 .scene_number .number.number_2 {
      background-image: url(../img/intro-number/number_2.png); }
    .section.intro.active_scene4 .scene_number .number.number_3 {
      background-image: url(../img/intro-number/number_3.png); }
    .section.intro.active_scene4 .scene_number .number.number_4 {
      background-image: url(../img/intro-number/number_4_active.png); }
    .section.intro.active_scene4 .scene_number {
      left: -120px; }
    .section.intro.active_scene4 .sceneWrapper {
      left: -3072px; }
  .section.game {
    position: relative; }
    .section.game .contains {
      position: relative;
      width: 100%;
      height: 100%; }
    .section.game .mainTitle {
      width: 304px;
      height: 94px;
      background-image: url(../img/balancing-title.png);
      left: 30px;
      position: absolute;
      top: -150px;
      background-repeat: no-repeat;
      background-position: center center; }
    .section.game .content {
      width: 811px;
      height: 600px;
      position: absolute;
      bottom: 0;
      right: -811px;
      background-image: url(../img/balancing-content-bg.png); }
    .section.game .rig {
      position: absolute;
      top: 75px;
      left: 225px;
      width: 485px;
      height: 485px;
      background-image: url(../img/rig.png); }
      .section.game .rig .level1_bg, .section.game .rig .level2_bg, .section.game .rig .level3_bg, .section.game .rig .level4_bg {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity 100ms linear;
        -moz-transition: opacity 100ms linear;
        -ms-transition: opacity 100ms linear;
        -o-transition: opacity 100ms linear;
        transition: opacity 100ms linear; }
      .section.game .rig .level1_bg {
        background-image: url(../img/rig-level-1.png); }
      .section.game .rig .level2_bg {
        background-image: url(../img/rig-level-2.png);
        top: 3px;
        left: 3px; }
      .section.game .rig .level3_bg {
        background-image: url(../img/rig-level-3.png);
        top: 3px;
        left: 3px; }
      .section.game .rig .level4_bg {
        background-image: url(../img/rig-level-4.png); }
      .section.game .rig.level1 .level1_bg {
        opacity: 1; }
      .section.game .rig.level2 .level2_bg {
        opacity: 1; }
      .section.game .rig.level3 .level3_bg {
        opacity: 1; }
      .section.game .rig.level4 .level4_bg {
        opacity: 1; }
    .section.game .gameCountdown {
      position: absolute;
      width: 380px;
      height: 265px;
      top: 205px;
      background-image: url(../img/timer-bg.png);
      background-position: 30px bottom;
      background-repeat: no-repeat;
      z-index: 10;
      display: none; }

.scoreContain {
  position: absolute;
  width: 545px;
  height: 265px;
  top: 184px;
  z-index: 10; }
  .scoreContain .level {
    position: absolute;
    width: 690px;
    height: 74px;
    background-position: center center;
    top: 365px;
    left: 0;
    background-repeat: no-repeat;
    zoom: .8; }
  .scoreContain .level5 {
    background-image: url(../img/resule-level1.png); }
  .scoreContain .level4 {
    background-image: url(../img/resule-level1.png); }
  .scoreContain .level3 {
    background-image: url(../img/resule-level2.png); }
  .scoreContain .level2 {
    background-image: url(../img/resule-level3.png); }
  .scoreContain .level1 {
    background-image: url(../img/resule-level4.png); }

.score, .timer {
  text-align: center; }
  .score .image, .timer .image {
    display: inline-block;
    width: 157px;
    height: 206px;
    background-color: #fff;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat; }
    .score .image:first-child, .timer .image:first-child {
      margin-right: 5px; }
    .score .image.image0, .timer .image.image0 {
      background-image: url(../img/number/0.png); }
    .score .image.image1, .timer .image.image1 {
      background-image: url(../img/number/1.png); }
    .score .image.image2, .timer .image.image2 {
      background-image: url(../img/number/2.png); }
    .score .image.image3, .timer .image.image3 {
      background-image: url(../img/number/3.png); }
    .score .image.image4, .timer .image.image4 {
      background-image: url(../img/number/4.png); }
    .score .image.image5, .timer .image.image5 {
      background-image: url(../img/number/5.png); }
    .score .image.image6, .timer .image.image6 {
      background-image: url(../img/number/6.png); }
    .score .image.image7, .timer .image.image7 {
      background-image: url(../img/number/7.png); }
    .score .image.image8, .timer .image.image8 {
      background-image: url(../img/number/8.png); }
    .score .image.image9, .timer .image.image9 {
      background-image: url(../img/number/9.png); }

.readyCountdown {
  position: absolute;
  top: 215px;
  left: 30px;
  text-align: center;
  height: 222px;
  width: 393px; }
  .readyCountdown .image {
    display: block;
    width: 100%;
    height: 100%;
    background-position: left center;
    background-repeat: no-repeat; }
    .readyCountdown .image.image0 {
      background-image: url(../img/ready-number/go.png); }
    .readyCountdown .image.image1 {
      background-image: url(../img/ready-number/go.png); }
    .readyCountdown .image.image2 {
      background-image: url(../img/ready-number/1.png); }
    .readyCountdown .image.image3 {
      background-image: url(../img/ready-number/2.png); }
    .readyCountdown .image.image4 {
      background-image: url(../img/ready-number/3.png); }
    .readyCountdown .image.image5 {
      background-image: url(../img/ready-number/4.png); }
    .readyCountdown .image.image6 {
      background-image: url(../img/ready-number/5.png); }

a {
  color: #000; }

/*# sourceMappingURL=style.css.map */
