body { margin:0; padding:0; background: #000; width:100%; height:100%; overflow:hidden; }
.demo{ 
	width:1024px; height:600px; background-image: url(../img/speed_v3.png); background-repeat: no-repeat; 
	position: absolute; top:0; left:0; z-index:999; display: none;
}
.wrapper{ 
	width:1024px; height:600px; background-image:url(../img/balancing-bg.jpg); position:relative; margin:0 auto; 
	overflow: hidden;
}
.clearfloat{ clear:both; }
.section{ 
	display:none; width:100%; height:100%; position:relative;
	&.active{ display:block; }
	&.result{ background-image: url(../img/result-bg.jpg); }
	&.ready{ 
		.readyTxt{ 
			width:211px; height:119px; position:absolute;
			background-image: url(../img/ready-txt.png); background-repeat: no-repeat;
			background-position: center center; top:55px; left:30px; 
		}
		.readyBottom{ 
			width:609px; height:100%; top:0; right:0;  position:absolute;
			background-image: url(../img/ready-bg.png); 
			background-position: center center; 
			background-repeat: no-repeat;
		}
	}
	&.intro{
		position:relative;
		// background-image: url(../img/balancing-intro-bg.png); 
		background-color: #f7da52;
		background-repeat: no-repeat;
		background-position: center center;
		.scene_number, .sceneWrapper{
			-webkit-transition: left 500ms ease-in-out;
			-moz-transition: left 500ms ease-in-out;
			-ms-transition: left 500ms ease-in-out;
			-o-transition: left 500ms ease-in-out;
			transition: left 500ms ease-in-out;
		}
		.scene_number{
			position:absolute; top: 60px; left:0; width:100%; text-align: center;
			.number{ 
				display:inline-block; width:45px; height:72px; background-position: center bottom; 
				background-repeat: no-repeat; margin-right:40px;
				&:last-child{ margin:0; }
			}
		}
		.sceneWrapper{ 
			width:400%; position:absolute; top:150px;
			.container{ position:relative }
			.scene{ 
				float:left; width:1024px; height:440px; text-align: center;  
				background-repeat: no-repeat; padding-top:10px; position:relative;
				img{ position:relative; z-index:1; }
				.animation, .arrowDown{ position:absolute; left:50%; z-index:0; }
				&.scene_1 .arrowDown{
					width:162px; height:231px; background-image: url(../img/arrow.gif);
					bottom: 10px; margin-left: -81px;
					&.status1{ background-position: 0 0; }
					&.status2, &.status10{ background-position: -162px 0; }
					&.status3, &.status9{ background-position: -162px*2 0; }
					&.status4, &.status8{ background-position: -162px*3 0; }
					&.status5, &.status7{ background-position: -162px*4 0; }
					&.status6{ background-position: -162px*5 0; }
				}
				&.scene_2 .animation{ 
					width:550px; height:300px; background-image: url(../img/feetonboard.gif);
					bottom: 0; margin-left: -275px;
					&.status1{ background-position: 0 0; }
					&.status2, &.status10{ background-position: -550px 0; }
					&.status3, &.status9{ background-position: -550px*2 0; }
					&.status4, &.status8{ background-position: -550px*3 0; }
					&.status5, &.status7{ background-position: -550px*4 0; }
					&.status6{ background-position: -550px*5 0; }
				}
				&.scene_3 .animation{ 
					width:550px; height:300px; background-image: url(../img/feetonboardwobble.gif);
					bottom: 0; margin-left: -275px;
					&.status1{ background-position: 0 0; }
					&.status2, &.status10{ background-position: -550px 0; }
					&.status3, &.status9{ background-position: -550px*2 0; }
					&.status4, &.status8{ background-position: -550px*3 0; }
					&.status5, &.status7{ background-position: -550px*4 0; }
					&.status6{ background-position: -550px*5 0; }
				}
				&.scene_4 .resultHand{
					width:614px; height:275px; background-image: url(../img/result-hand.png);
					bottom: 0; margin-left: -307px; position:absolute; left:50%; z-index:0;
				}
			}
			// .scene_2,.scene_3,.scene_4{ padding-top:60px; }
		}
		&.active_scene1{
			.scene_number .number.number_1{ background-image: url(../img/intro-number/number_1_active.png); }
			.scene_number .number.number_2{ background-image: url(../img/intro-number/number_2.png); }
			.scene_number .number.number_3{ background-image: url(../img/intro-number/number_3.png); }
			.scene_number .number.number_4{ background-image: url(../img/intro-number/number_4.png); }
			.scene_number{ left:120px; }
			.sceneWrapper{ left:0; }
		}
		&.active_scene2{
			.scene_number .number.number_1{ background-image: url(../img/intro-number/number_1.png); }
			.scene_number .number.number_2{ background-image: url(../img/intro-number/number_2_active.png); }
			.scene_number .number.number_3{ background-image: url(../img/intro-number/number_3.png); }
			.scene_number .number.number_4{ background-image: url(../img/intro-number/number_4.png); }
			.scene_number{ left:60px; }
			.sceneWrapper{ left:-1*1024px; }
		}
		&.active_scene3{
			.scene_number .number.number_1{ background-image: url(../img/intro-number/number_1.png); }
			.scene_number .number.number_2{ background-image: url(../img/intro-number/number_2.png); }
			.scene_number .number.number_3{ background-image: url(../img/intro-number/number_3_active.png); }
			.scene_number .number.number_4{ background-image: url(../img/intro-number/number_4.png); }
			.scene_number{ left:-30px; }
			.sceneWrapper{ left:-2*1024px; }
		}
		&.active_scene4{
			.scene_number .number.number_1{ background-image: url(../img/intro-number/number_1.png); }
			.scene_number .number.number_2{ background-image: url(../img/intro-number/number_2.png); }
			.scene_number .number.number_3{ background-image: url(../img/intro-number/number_3.png); }
			.scene_number .number.number_4{ background-image: url(../img/intro-number/number_4_active.png); }
			.scene_number{ left:-120px; }
			.sceneWrapper{ left:-3*1024px; }
		}
	}
	&.game{ 
		position:relative;
		.contains{ position:relative; width:100%; height:100%; }
		.mainTitle{ 
			width:304px; height:94px; background-image: url(../img/balancing-title.png); left:30px;
			position:absolute; top:-150px; background-repeat: no-repeat; background-position: center center;
		}
		.content{ 
			width:811px; height:600px; position:absolute; bottom:0; right: -811px;
			background-image: url(../img/balancing-content-bg.png);
		}
		.rig{ 
			position:absolute; top:75px; left:225px;
			width:485px; height:485px; background-image: url(../img/rig.png); 
			.level1_bg, .level2_bg, .level3_bg, .level4_bg{ 
				width:100%; height:100%; position:absolute; opacity: 0; 
				-webkit-transition: opacity 100ms linear;
				-moz-transition: opacity 100ms linear;
				-ms-transition: opacity 100ms linear;
				-o-transition: opacity 100ms linear;
				transition: opacity 100ms linear;
			}
			.level1_bg{ background-image: url(../img/rig-level-1.png); }
			.level2_bg{ background-image: url(../img/rig-level-2.png); top:3px; left:3px; }
			.level3_bg{ background-image: url(../img/rig-level-3.png); top:3px; left:3px; }
			.level4_bg{ background-image: url(../img/rig-level-4.png); }
			&.level1{ .level1_bg{ opacity: 1; } }
			&.level2{ .level2_bg{ opacity: 1; } }
			&.level3{ .level3_bg{ opacity: 1; } }
			&.level4{ .level4_bg{ opacity: 1; } }
		}
		.gameCountdown{
			position: absolute; width: 380px; height: 265px; top: 205px;
			background-image: url(../img/timer-bg.png); background-position: 30px bottom;
			background-repeat: no-repeat; z-index: 10; display:none;
		}
	}
}
.scoreContain{ 
	position: absolute; width: 545px; height: 265px; top: 184px; z-index: 10; 
	.level{ 
		position:absolute; width:690px; height:74px; background-position: center center; 
		top:365px; left:0; background-repeat: no-repeat; zoom: .8;
	}
	.level5{ background-image: url(../img/resule-level1.png); }
	.level4{ background-image: url(../img/resule-level1.png); }
	.level3{ background-image: url(../img/resule-level2.png); }
	.level2{ background-image: url(../img/resule-level3.png); }
	.level1{ background-image: url(../img/resule-level4.png); }
}
.score, .timer{
	text-align: center;
	.image{ 
		display:inline-block; width:157px; height:206px; background-color: #fff;
		border-radius: 5px; background-position: center center; background-repeat: no-repeat;
		&:first-child{ margin-right:5px; }
		&.image0{ background-image: url(../img/number/0.png); }
		&.image1{ background-image: url(../img/number/1.png); }
		&.image2{ background-image: url(../img/number/2.png); }
		&.image3{ background-image: url(../img/number/3.png); }
		&.image4{ background-image: url(../img/number/4.png); }
		&.image5{ background-image: url(../img/number/5.png); }
		&.image6{ background-image: url(../img/number/6.png); }
		&.image7{ background-image: url(../img/number/7.png); }
		&.image8{ background-image: url(../img/number/8.png); }
		&.image9{ background-image: url(../img/number/9.png); }
	}
}
.readyCountdown{
	position:absolute; top: 215px; left:30px; text-align: center; height:222px; width:393px;
	.image{ 
		display:block; width:100%; height:100%;
		background-position: left center; background-repeat: no-repeat;
		&.image0{ background-image: url(../img/ready-number/go.png); }
		&.image1{ background-image: url(../img/ready-number/go.png); }
		&.image2{ background-image: url(../img/ready-number/1.png); }
		&.image3{ background-image: url(../img/ready-number/2.png); }
		&.image4{ background-image: url(../img/ready-number/3.png); }
		&.image5{ background-image: url(../img/ready-number/4.png); }
		&.image6{ background-image: url(../img/ready-number/5.png); }
		// &.image7{ background-image: url(../img/ready-number/7.png); }
		// &.image8{ background-image: url(../img/ready-number/8.png); }
		// &.image9{ background-image: url(../img/ready-number/9.png); }
	}
}
a{ color: #000; }
