extends layout

block content
	div.demo
	div.section.intro.active.active_scene1
		div.scene_number
			span.number.number_1
			span.number.number_2
			span.number.number_3
			span.number.number_4
		div.sceneWrapper
			div.container
				div.scene.scene_1
					img(src="img/intro-scene-1.png")
					div.arrowDown
				div.scene.scene_2
					img(src="img/intro-scene-2.png")
					div.animation
				div.scene.scene_3
					img(src="img/intro-scene-3.png")
					div.animation
				div.scene.scene_4
					img(src="img/intro-scene-4.png")
					div.resultHand
				div.clearfloat
		//- img#introImage(src="/img/giftest1.gif", alt="")
		//- video#introVideo(width="100%", height="100%", autoplay, loop)
		//- 	source(src="/asset/vid-idle2.mp4", type="video/mp4")
	
	div.section.ready
		div.readyTxt
		div.readyCountdown
		div.readyBottom

	div.section.game
		div.mainTitle
		div.gameCountdown
		div.content
			div.contains
				div.rig.level1
					div.contains
						div.level1_bg
						div.level2_bg
						div.level3_bg
						div.level4_bg

	div.section.result
		div.scoreContain
			div.level.level1
			div.score
	
	script#imageLayout(type="text/template").
		<div class="timer">
			<span class="image image{s10}"></span> 
			<span class="image image{s1}"></span> 
		</div>
	script#readyCountdownLayout(type="text/template"). 
		<span class="image image{s1}"></span> 
